{% assign brand_list = pages | where: "metafields.custom.brand_page" %}

<div class="page-width page-content brand-list">
  <header class="section-header">
    <h1 class="section-header__title">All {{ page.title }}</h1>
  </header>
  <div class="brand-list-grid">
    {% for page in pages %}
      {% if page.metafields.custom.brand_page %}
        <div class="brand-card">
          <a href="{{ page.url }}" target="_blank">
            <img class="brand-card__img" src="{{ page.metafields.custom.brand_banner_mobile | image_url: width: 280, height: 280 }}" alt="{{ page.title }}">
            <h3 class="brand-card__title">{{ page.title }}</h3>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Brand List",
    "settings": []
  }
{% endschema %}
