<div class="page-width page-content brand-list">
  <header class="section-header">
    <h1 class="section-header__title">All {{ page.title }}</h1>
  </header>
  <div class="brand-list-grid">
    {% for page in pages %}
      {% if page.metafields.custom.brand_page %}
        {% liquid
          if page.metafields.custom.brand_list_image != blank
            assign image_url = page.metafields.custom.brand_list_image | image_url: width: 280, height: 280
          elsif page.metafields.custom.brand_banner_mobile != blank
            assign image_url = page.metafields.custom.brand_banner_mobile | image_url: width: 280, height: 280
          else
            assign image_url = "https://cdn.shopify.com/s/files/1/0652/7074/3285/files/default-brand-list-image.png?v=1662012931&w=280"
          endif
        %}
        <div class="brand-card">
          <a href="{{ page.url }}" target="_blank">
            <img class="brand-card__img" src="{{ image_url }}" alt="{{ page.title }}">
            <h3 class="brand-card__title">{{ page.title }}</h3>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Brand List",
    "settings": []
  }
{% endschema %}
