<div class="page-width page-content">

  {%- render 'breadcrumbs' -%}

  <header class="section-header text-center{% if cart.item_count == 0 %} section-header--404{% endif %}">
    <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
    <div class="empty-cart-icon {% if cart.item_count > 0 %}hide{% endif %}">
      <div style="height: 190px; width: 320px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 126" width="216" height="126" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);">
          <defs>
            <clipPath id="__lottie_element_128"><rect width="216" height="126" x="0" y="0"></rect></clipPath>
            <clipPath id="__lottie_element_154"><path d="M0,0 L216,0 L216,126 L0,126z"></path></clipPath>
          </defs>
          <g clip-path="url(#__lottie_element_128)">
            <g transform="matrix(1,0,0,1,-0.25,42.75)" opacity="0.9991743619902644" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,108.25,28.25)"><path fill="rgb(236,236,236)" fill-opacity="1" d=" M75,-28 C78.86599731445312,-28 82,-24.865999221801758 82,-21 C82,-17.134000778198242 78.86599731445312,-14 75,-14 C75,-14 97,-14 97,-14 C100.86599731445312,-14 104,-10.866000175476074 104,-7 C104,-3.134000062942505 100.86599731445312,0 97,0 C97,0 78,0 78,0 C74.13400268554688,0 71,3.134000062942505 71,7 C71,10.866000175476074 74.13400268554688,14 78,14 C78,14 84,14 84,14 C87.86599731445312,14 91,17.134000778198242 91,21 C91,24.865999221801758 87.86599731445312,28 84,28 C84,28 32,28 32,28 C31.485000610351562,28 30.982999801635742,27.944000244140625 30.5,27.839000701904297 C30.017000198364258,27.944000244140625 29.514999389648438,28 29,28 C29,28 -62,28 -62,28 C-65.86599731445312,28 -69,24.865999221801758 -69,21 C-69,17.134000778198242 -65.86599731445312,14 -62,14 C-62,14 -101,14 -101,14 C-104.86599731445312,14 -108,10.866000175476074 -108,7 C-108,3.134000062942505 -104.86599731445312,0 -101,0 C-101,0 -61,0 -61,0 C-57.13399887084961,0 -54,-3.134000062942505 -54,-7 C-54,-10.866000175476074 -57.13399887084961,-14 -61,-14 C-61,-14 -86,-14 -86,-14 C-89.86599731445312,-14 -93,-17.134000778198242 -93,-21 C-93,-24.865999221801758 -89.86599731445312,-28 -86,-28 C-86,-28 75,-28 75,-28z M101,14 C104.86599731445312,14 108,17.134000778198242 108,21 C108,24.865999221801758 104.86599731445312,28 101,28 C97.13400268554688,28 94,24.865999221801758 94,21 C94,17.134000778198242 97.13400268554688,14 101,14z"></path></g></g>
            <g clip-path="url(#__lottie_element_154)" transform="matrix(1,0,0,1,0,0)" opacity="1" style="display: block;"><g transform="matrix(0.9227799773216248,0,0,0.9698100090026855,108,52)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,5.2129998207092285,-25.242000579833984)"><path fill="rgb(242,242,242)" fill-opacity="1" d=" M37.587501525878906,-7.882999897003174 C37.587501525878906,-7.882999897003174 37.587501525878906,7.882999897003174 37.587501525878906,7.882999897003174 C37.587501525878906,7.882999897003174 -37.587501525878906,7.882999897003174 -37.587501525878906,7.882999897003174 C-37.587501525878906,7.882999897003174 -37.587501525878906,-7.882999897003174 -37.587501525878906,-7.882999897003174 C-37.587501525878906,-7.882999897003174 37.587501525878906,-7.882999897003174 37.587501525878906,-7.882999897003174z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(216,216,216)" stroke-opacity="1" stroke-width="0" d=" M37.587501525878906,-7.882999897003174 C37.587501525878906,-7.882999897003174 37.587501525878906,7.882999897003174 37.587501525878906,7.882999897003174 C37.587501525878906,7.882999897003174 -37.587501525878906,7.882999897003174 -37.587501525878906,7.882999897003174 C-37.587501525878906,7.882999897003174 -37.587501525878906,-7.882999897003174 -37.587501525878906,-7.882999897003174 C-37.587501525878906,-7.882999897003174 37.587501525878906,-7.882999897003174 37.587501525878906,-7.882999897003174z"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,112.5,38.5)"><path fill="rgb(242,242,242)" fill-opacity="1" d=" M-33.5,-7.5 C-33.5,-7.5 33.5,-7.5 33.5,-7.5 C33.5,-7.5 27.5,1.5 27.5,1.5 C27.5,1.5 35.5,7.5 35.5,7.5 C35.5,7.5 -35.5,7.5 -35.5,7.5 C-35.5,7.5 -26.5,1.5 -26.5,1.5 C-26.5,1.5 -33.5,-7.5 -33.5,-7.5z"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,113,38)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M-35,7 C-35,7 -35,-5 -35,-5 C-35,-6.105000019073486 -34.19599914550781,-7 -33.20500183105469,-7 C-33.20500183105469,-7 33.20500183105469,-7 33.20500183105469,-7 C34.19599914550781,-7 35,-6.105000019073486 35,-5 C35,-5 35,7 35,7"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,82.28199768066406,38.49800109863281)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M-3.2209999561309814,-6.501999855041504 C-3.2209999561309814,-6.501999855041504 3.884999990463257,0.5139999985694885 3.884999990463257,0.5139999985694885 C4.2779998779296875,0.9020000100135803 4.2829999923706055,1.534000039100647 3.8949999809265137,1.9279999732971191 C3.828000068664551,1.9950000047683716 3.750999927520752,2.053999900817871 3.6679999828338623,2.1010000705718994 C3.6679999828338623,2.1010000705718994 -4.2829999923706055,6.501999855041504 -4.2829999923706055,6.501999855041504"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,144.2779998779297,38.53499984741211)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M2.8310000896453857,-6.465000152587891 C2.8310000896453857,-6.465000152587891 -3.9709999561309814,0.47200000286102295 -3.9709999561309814,0.47200000286102295 C-4.357999801635742,0.8669999837875366 -4.35099983215332,1.5 -3.9570000171661377,1.8860000371932983 C-3.8910000324249268,1.9509999752044678 -3.816999912261963,2.00600004196167 -3.7360000610351562,2.049999952316284 C-3.7360000610351562,2.049999952316284 4.357999801635742,6.465000152587891 4.357999801635742,6.465000152587891"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,113.25299835205078,84.5)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-37.24700164794922,3.7149999141693115 C-37.24700164794922,3.7149999141693115 -37.24700164794922,-36.5 -37.24700164794922,-36.5 C-37.24700164794922,-38.15700149536133 -35.887001037597656,-39.5 -34.209999084472656,-39.5 C-34.209999084472656,-39.5 35.27000045776367,-39.5 35.27000045776367,-39.5 C36.36199951171875,-39.5 37.24700164794922,-38.60499954223633 37.24700164794922,-37.5 C37.24700164794922,-37.5 37.24700164794922,35.5 37.24700164794922,35.5 C37.24700164794922,37.70899963378906 35.47600173950195,39.5 33.29199981689453,39.5 C33.29199981689453,39.5 -33.29199981689453,39.5 -33.29199981689453,39.5 C-35.47600173950195,39.5 -37.24700164794922,37.70899963378906 -37.24700164794922,35.5 C-37.24700164794922,35.5 -37.24700164794922,20.55500030517578 -37.24700164794922,20.55500030517578 C-37.24700164794922,20.55500030517578 -37.24700164794922,16.5 -37.24700164794922,16.5 C-37.24700164794922,16.5 -37.24700164794922,3.7149999141693115 -37.24700164794922,3.7149999141693115z M-37.24700164794922,12.397000312805176 C-37.24700164794922,12.397000312805176 -37.24700164794922,7.894000053405762 -37.24700164794922,7.894000053405762 C-37.24700164794922,7.894000053405762 -37.24700164794922,12.397000312805176 -37.24700164794922,12.397000312805176z M-37.22600173950195,16.055999755859375 C-37.22600173950195,16.055999755859375 -37.22600173950195,3.4089999198913574 -37.22600173950195,3.4089999198913574 C-37.22600173950195,3.4089999198913574 -37.22600173950195,16.055999755859375 -37.22600173950195,16.055999755859375z"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,113.25299835205078,84.5009994506836)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M-37.22600173950195,16.055999755859375 C-37.22600173950195,16.055999755859375 -37.22600173950195,3.4079999923706055 -37.22600173950195,3.4079999923706055 M-37.24700164794922,3.7139999866485596 C-37.24700164794922,3.7139999866485596 -37.24700164794922,-36.5 -37.24700164794922,-36.5 C-37.24700164794922,-38.15700149536133 -35.887001037597656,-39.5 -34.209999084472656,-39.5 C-34.209999084472656,-39.5 35.27000045776367,-39.5 35.27000045776367,-39.5 C36.36199951171875,-39.5 37.24700164794922,-38.60499954223633 37.24700164794922,-37.5 C37.24700164794922,-37.5 37.24700164794922,35.5 37.24700164794922,35.5 C37.24700164794922,37.70899963378906 35.47600173950195,39.5 33.29199981689453,39.5 C33.29199981689453,39.5 -33.29199981689453,39.5 -33.29199981689453,39.5 C-35.47600173950195,39.5 -37.24700164794922,37.70899963378906 -37.24700164794922,35.5 C-37.24700164794922,35.5 -37.24700164794922,20.55500030517578 -37.24700164794922,20.55500030517578 C-37.24700164794922,20.55500030517578 -37.24700164794922,16.5 -37.24700164794922,16.5 C-37.24700164794922,16.5 -37.24700164794922,3.7139999866485596 -37.24700164794922,3.7139999866485596z M-37.24700164794922,12.397000312805176 C-37.24700164794922,12.397000312805176 -37.24700164794922,7.89300012588501 -37.24700164794922,7.89300012588501 C-37.24700164794922,7.89300012588501 -37.24700164794922,12.397000312805176 -37.24700164794922,12.397000312805176z"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,96.5,62.5)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M0,3.5 C1.9329999685287476,3.5 3.5,1.9329999685287476 3.5,0 C3.5,-1.9329999685287476 1.9329999685287476,-3.5 0,-3.5 C-1.9329999685287476,-3.5 -3.5,-1.9329999685287476 -3.5,0 C-3.5,1.9329999685287476 -1.9329999685287476,3.5 0,3.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M0,3.5 C1.9329999685287476,3.5 3.5,1.9329999685287476 3.5,0 C3.5,-1.9329999685287476 1.9329999685287476,-3.5 0,-3.5 C-1.9329999685287476,-3.5 -3.5,-1.9329999685287476 -3.5,0 C-3.5,1.9329999685287476 -1.9329999685287476,3.5 0,3.5z"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,129.5,62.5)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M0,3.5 C1.9329999685287476,3.5 3.5,1.9329999685287476 3.5,0 C3.5,-1.9329999685287476 1.9329999685287476,-3.5 0,-3.5 C-1.9329999685287476,-3.5 -3.5,-1.9329999685287476 -3.5,0 C-3.5,1.9329999685287476 -1.9329999685287476,3.5 0,3.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M0,3.5 C1.9329999685287476,3.5 3.5,1.9329999685287476 3.5,0 C3.5,-1.9329999685287476 1.9329999685287476,-3.5 0,-3.5 C-1.9329999685287476,-3.5 -3.5,-1.9329999685287476 -3.5,0 C-3.5,1.9329999685287476 -1.9329999685287476,3.5 0,3.5z"></path></g></g><g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,113,74)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M16,-8 C16,0.8370000123977661 8.836999893188477,8 0,8 C-8.836999893188477,8 -16,0.8370000123977661 -16,-8"></path></g></g></g>
            <g transform="matrix(1,0,0,1,108.25,59.5)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(178,178,178)" fill-opacity="1" d="M0 0"></path><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(216,216,216)" stroke-opacity="1" stroke-width="2.5" d="M0 0"></path></g></g>
            <g transform="matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,106.44039916992188,57.3203010559082)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(178,178,178)" fill-opacity="1" d="M0 0"></path><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(216,216,216)" stroke-opacity="1" stroke-width="2.5" d="M0 0"></path></g></g>
            <g transform="matrix(0.9396926164627075,0.3420201539993286,-0.3420201539993286,0.9396926164627075,110.63252258300781,54.071109771728516)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(178,178,178)" fill-opacity="1" d="M0 0"></path><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(216,216,216)" stroke-opacity="1" stroke-width="2.5" d="M0 0"></path></g></g>
            <g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,113.25299835205078,84.5)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-37.24700164794922,3.7149999141693115 C-37.24700164794922,3.7149999141693115 -37.24700164794922,-36.5 -37.24700164794922,-36.5 C-37.24700164794922,-38.15700149536133 -35.887001037597656,-39.5 -34.209999084472656,-39.5 C-34.209999084472656,-39.5 35.27000045776367,-39.5 35.27000045776367,-39.5 C36.36199951171875,-39.5 37.24700164794922,-38.60499954223633 37.24700164794922,-37.5 C37.24700164794922,-37.5 37.24700164794922,35.5 37.24700164794922,35.5 C37.24700164794922,37.70899963378906 35.47600173950195,39.5 33.29199981689453,39.5 C33.29199981689453,39.5 -33.29199981689453,39.5 -33.29199981689453,39.5 C-35.47600173950195,39.5 -37.24700164794922,37.70899963378906 -37.24700164794922,35.5 C-37.24700164794922,35.5 -37.24700164794922,20.55500030517578 -37.24700164794922,20.55500030517578 C-37.24700164794922,20.55500030517578 -37.24700164794922,16.5 -37.24700164794922,16.5 C-37.24700164794922,16.5 -37.24700164794922,3.7149999141693115 -37.24700164794922,3.7149999141693115z M-37.24700164794922,12.397000312805176 C-37.24700164794922,12.397000312805176 -37.24700164794922,7.894000053405762 -37.24700164794922,7.894000053405762 C-37.24700164794922,7.894000053405762 -37.24700164794922,12.397000312805176 -37.24700164794922,12.397000312805176z M-37.22600173950195,16.055999755859375 C-37.22600173950195,16.055999755859375 -37.22600173950195,3.4089999198913574 -37.22600173950195,3.4089999198913574 C-37.22600173950195,3.4089999198913574 -37.22600173950195,16.055999755859375 -37.22600173950195,16.055999755859375z"></path></g></g>
            <g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,113.25299835205078,84.5009994506836)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M-37.22600173950195,16.055999755859375 C-37.22600173950195,16.055999755859375 -37.22600173950195,3.4079999923706055 -37.22600173950195,3.4079999923706055 M-37.24700164794922,3.7139999866485596 C-37.24700164794922,3.7139999866485596 -37.24700164794922,-36.5 -37.24700164794922,-36.5 C-37.24700164794922,-38.15700149536133 -35.887001037597656,-39.5 -34.209999084472656,-39.5 C-34.209999084472656,-39.5 35.27000045776367,-39.5 35.27000045776367,-39.5 C36.36199951171875,-39.5 37.24700164794922,-38.60499954223633 37.24700164794922,-37.5 C37.24700164794922,-37.5 37.24700164794922,35.5 37.24700164794922,35.5 C37.24700164794922,37.70899963378906 35.47600173950195,39.5 33.29199981689453,39.5 C33.29199981689453,39.5 -33.29199981689453,39.5 -33.29199981689453,39.5 C-35.47600173950195,39.5 -37.24700164794922,37.70899963378906 -37.24700164794922,35.5 C-37.24700164794922,35.5 -37.24700164794922,20.55500030517578 -37.24700164794922,20.55500030517578 C-37.24700164794922,20.55500030517578 -37.24700164794922,16.5 -37.24700164794922,16.5 C-37.24700164794922,16.5 -37.24700164794922,3.7139999866485596 -37.24700164794922,3.7139999866485596z M-37.24700164794922,12.397000312805176 C-37.24700164794922,12.397000312805176 -37.24700164794922,7.89300012588501 -37.24700164794922,7.89300012588501 C-37.24700164794922,7.89300012588501 -37.24700164794922,12.397000312805176 -37.24700164794922,12.397000312805176z"></path></g></g>
            <g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,96.5,62.5)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M0,3.5 C1.9329999685287476,3.5 3.5,1.9329999685287476 3.5,0 C3.5,-1.9329999685287476 1.9329999685287476,-3.5 0,-3.5 C-1.9329999685287476,-3.5 -3.5,-1.9329999685287476 -3.5,0 C-3.5,1.9329999685287476 -1.9329999685287476,3.5 0,3.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M0,3.5 C1.9329999685287476,3.5 3.5,1.9329999685287476 3.5,0 C3.5,-1.9329999685287476 1.9329999685287476,-3.5 0,-3.5 C-1.9329999685287476,-3.5 -3.5,-1.9329999685287476 -3.5,0 C-3.5,1.9329999685287476 -1.9329999685287476,3.5 0,3.5z"></path></g></g>
            <g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,129.5,62.5)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M0,3.5 C1.9329999685287476,3.5 3.5,1.9329999685287476 3.5,0 C3.5,-1.9329999685287476 1.9329999685287476,-3.5 0,-3.5 C-1.9329999685287476,-3.5 -3.5,-1.9329999685287476 -3.5,0 C-3.5,1.9329999685287476 -1.9329999685287476,3.5 0,3.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M0,3.5 C1.9329999685287476,3.5 3.5,1.9329999685287476 3.5,0 C3.5,-1.9329999685287476 1.9329999685287476,-3.5 0,-3.5 C-1.9329999685287476,-3.5 -3.5,-1.9329999685287476 -3.5,0 C-3.5,1.9329999685287476 -1.9329999685287476,3.5 0,3.5z"></path></g></g>
            <g transform="matrix(1,0,0,1,0,-11)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,113,74)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(217,217,217)" stroke-opacity="1" stroke-width="2.5" d=" M16,-8 C16,0.8370000123977661 8.836999893188477,8 0,8 C-8.836999893188477,8 -16,0.8370000123977661 -16,-8"></path></g></g></g>
        </svg>
      </div>
    </div>
    <div class="empty-cart-text {% if cart.item_count > 0 %}hide{% endif %}">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t: url: routes.all_products_collection_url }}</p>
    </div>
  </header>

  {%- if cart.item_count > 0 -%}
    <form action="{{ routes.cart_url }}" method="post" novalidate data-location="page" id="CartPageForm">
      <div class="cart__page">
        <div data-products class="cart__page-col">
          {% for item in cart.items %}
            {%- render 'cart-item', product: item -%}
          {%- endfor -%}
        </div>
        <div class="cart__page-col order-summary">
          {% if settings.cart_notes_enable %}
            <div>
              <label for="CartNote">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full cart-notes" id="CartNote">{{ cart.note }}</textarea>
            </div>
          {% endif %}

          <div class="cart__item-row dashed">
            <div class="cart__item-sub">
              <div>Item Total</div>
              <div data-items-total>{{ cart.items_subtotal_price | money }}</div>
            </div>
            <div data-discounts>
              {% if cart.cart_level_discount_applications != blank %}
                {% for cart_discount in cart.cart_level_discount_applications %}
                  <div class="cart__discounts cart__item-sub">
                    <div>{{ 'cart.general.discounts' | t }} ({{ cart_discount.title }})</div>
                    <div class="text-right">
                      <div class="cart__discount">
                        -{{ cart_discount.total_allocated_amount | money }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="cart__discounts-item">
                  <div>{{ 'cart.general.discounts' | t }}</div>
                  <div class="cart__discount">-{{ "0" | money }}</div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="cart__item-row dashed">
            <div class="cart__item-sub">
              <div>{{ 'cart.general.subtotal' | t }}</div>
              <div data-subtotal>{{ cart.total_price | money }}</div>
            </div>
            <div class="small">Inclusinve of all taxes</div>
          </div>

          {% if settings.cart_terms_conditions_enable %}
            <div class="cart__item-row cart__terms">
              <input type="checkbox" id="CartTerms" class="cart__terms-checkbox">
              <label for="CartTerms">
                {% if settings.cart_terms_conditions_page != blank %}
                  {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_page.url }}
                {% else %}
                  {{ 'cart.general.terms' | t }}
                {% endif %}
              </label>
            </div>
          {% endif %}

          <div class="cart__item-row cart__checkout-wrapper">
            <button type="submit" name="checkout" data-terms-required="{{ settings.cart_terms_conditions_enable }}" class="btn cart__checkout">
              {{ 'cart.general.checkout' | t }}
            </button>

            {% if additional_checkout_buttons and settings.cart_additional_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>

          <div class="cart__item-row text-center">
            <small>
              {{ 'cart.general.shipping_at_checkout' | t }}<br />
            </small>
          </div>
        </div>
      </div>
    </form>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-cart.name"
}
{% endschema %}
